    <html>
        <head>
        <style>
        * {
          box-sizing: border-box;
        }        
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        .column:hover .overlay {
        opacity: 1;
        } 
        .container{
            margin-top: 0;
        }   
</style>
</head>
<ul class="menu cf">
    <li><a routerLink="">Home</a></li>
    <li>
        <a routerLink="../play"> Play</a>
    </li>
    <li><a routerLink="../eats">Eat</a></li>
    <li><a routerLink="../book">Bookings</a></li>
    <li><a routerLink="../login">Login</a></li>
</ul>
<div class="container">    
    <div class="row">
    <div class="column">
      <img src="https://media.istockphoto.com/id/472225853/photo/india-gate-new-delhi.jpg?s=612x612&w=0&k=20&c=YR9FnB85YL0EcuNIw0Ezzqu0pkGnz79XuKNHn2R-msE=" alt="" style="width:100%" >
      <button class="button-92" >New Delhi</button>
    </div>
    <div class="column">
      
        <img src="https://images2.alphacoders.com/593/593194.jpg" alt="" style="width:100%" height="262">
        <!-- <div class="overlay">Taj Mahal</div> -->
        <button class="button-92">Mumbai</button>
    </div>
    <div class="column">
        <img src="https://media.istockphoto.com/id/1253234916/photo/goa-beach-at-sunset-india.jpg?b=1&s=170667a&w=0&k=20&c=U1qW93ybhcVvyh3NQtgHPc6bjuKaUIrIRvInSoXsAUs=" alt="" style="width:100%" height="262">
        <!-- <div class="overlay">Amritsar</div> -->
        <button class="button-92">Goa</button>
    </div>
    <div class="column">
        <img src="https://imgcld.yatra.com/ytimages/image/upload/t_hotel_yatra_details_desktop/v1530511871/Hotel/Ooty/00010030/1_ksJOJp.jpg" alt="" style="width:100%" >
        <!-- <div class="overlay">Goa</div> -->
        <button class="button-92" style="text-align:center">Banglore</button>
    </div>
    <div class="column">
        <img src="https://thumbs.dreamstime.com/b/taj-mahal-agra-india-morning-light-reflection-water-uttar-pradesh-108954918.jpg" alt="" style="width:100%" height="255">
        <!-- <div class="overlay">Chinawall</div> -->
        <button class="button-92" style="text-align:center">Agra</button>
    </div>
    <div class="column">
        <img src="https://c0.wallpaperflare.com/preview/687/718/457/jaipur-rajasthan-india-history.jpg" alt="" style="width:100%">
        <!-- <div class="overlay">Jaipur</div> -->
        <button class="button-92" style="text-align:center">Jaipur</button>
    </div>
    </div>
</div>
<router-outlet></router-outlet>
 
</html>
