<ul class="menu cf">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="../play">Play</a></li>
    <li><a routerLink="../book">Bookings</a></li>
    <li><a routerLink="../login">Login</a></li>
</ul>
<!-- <div class="btn btn-primary">button</div> -->

<div class="row">
    <marquee  class= "sam" behavior="alternate" direction="left" style="color:black;">"People who love to eat are always the best people" </marquee>
    <div class="column">
      <img src="https://c4.wallpaperflare.com/wallpaper/869/719/717/cuisine-food-india-indian-wallpaper-preview.jpg"style="width:100%" class="image">
      <div class="center">
       
        <button class="button-81" role="button">VEG THALI</button>
      </div>
    </div>
    <div class="column">
      <img src="https://t3.ftcdn.net/jpg/02/75/39/20/360_F_275392051_53eksOq0aavTRaW9KYgnTbTgOG1Vuysq.jpg" style="width:100%" height="270px">
      <button class="button-81" role="button">RAJASTHANI THALI</button>
    </div>
    <div class="column">
      <img src="https://media.istockphoto.com/id/996699224/photo/assorted-indian-food-for-lunch-or-dinner-rice-lentils-paneer-dal-makhani-naan-chutney-spices.jpg?s=170667a&w=0&k=20&c=-0Vwww9veNkjLsLF0d8nup_qvlPTXw2I3N8UAdoQkHM=" style="width:100%" >
      <button class="button-81" role="button">GOAN THALI</button>
    </div>
    <marquee  class= "sam" behavior="alternate" direction="left" style="color:black;">"Travel and eat like Locals " </marquee>
    <div class="column">
        <img src="https://img.etimg.com/thumb/msid-88785595,width-1200,height-900,imgsize-89188,resizemode-8,quality-100/magazines/panache/in-an-age-of-ordering-food-in-biryanis-gain-is-the-thalis-loss.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?cs=srgb&dl=pexels-pixabay-461198.jpg&fm=jpg" style="width:100%" height="305px">
      </div>
      <div class="column">
        <img src="https://images.unsplash.com/photo-1585032226651-759b368d7246?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hpbmVzZSUyMGZvb2R8ZW58MHx8MHx8&w=1000&q=80" style="width:100%" height="305px" >
      </div>
</div>