/* .class{
    background-image: url("https://images.unsplash.com/photo-1512343879784-a960bf40e7f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
} */
.searchButton{
       position: relative;
       top: -40px;
       left: 120px;
       border: none;
       color: rgb(143, 140, 140);
       background-color: white;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
  padding-left: 12px;
  text-align: left;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border-color: whitesmoke;
  font-family: monospace;

}
img {
    height: 60px;
    width: 60px;
    border-radius: 70px;
    margin-left: 6px;
}

table {
    margin-top: 10px;
}

tr {
    border: 2px solid rgb(227, 224, 224);
    height: 90px;
}

.container1 {
    padding: 0;
    height: 8vh;
    background-color: black;
    width: 100%;
}

.btn-select {

    background-color: #2b2278;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #e9ebf0;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1re, 1m;
    font-weight: 700;
    line-height: 1;
    margin-left: 25%;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: #0d172a solid;
    width: 200px;
    /* transition: all .1s cubic-bezier(.4, 0, .2, 1); */
    /* box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25); */
    /* user-select: none; */


}

/*nav bar styling*/

.nav-bar {
    display: flex;
    /* flex-flow: row wrap; */
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgb(20, 27, 33);
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1;
}
.text1{
   padding-top: 8px;
}

.logo {
    flex: 1;
    font-size: 35px;
    padding: 20px;
    margin-left: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.menu li {
    margin-top: 30px;
    flex: 1;
    list-style-type: none;
    font-size: 20px;
    font-family: "Barlow Condensed";
    text-align: center;
}
/* .title{
  font-weight: 500; 
} */
.menu li a {
    text-decoration: none;
    color: rgb(15, 7, 7);
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.menu li a:hover {
    color: rgb(11, 12, 6);
    text-decoration: underline;
}

