<!-- <div class="navbar navbar-expand-sm navbar-dark" style= "background-color: #3d3b3b;" ><div  class="container-fluid">

    <header class="border-b border-solid border-border" class="text-info ">
  
  <h1 style="color:white">Time To Travel </h1>
  
  </header>
</div>
  
  <div>
  
    <nav >
  
      <div class="d-flex flex-row-reverse">
  
      <ul>
  
        <div class="navbar-nav me-auto mb-2 mb-lg-0" >
  
      <li>
  
      <div routerLink="/login"   mdbbtn="" size="sm" class="btn btn-outline-light mr-1" routerLinkActive="active">Login/Register</div>
  
      </li>
  
      <li>
  
      <div routerLink="contact"  routerLinkActive="active" class="btn btn-outline-light mr-1" >ContactUs</div>
  
      </li>
  
      <li> 
      <div routerLink="/about" routerLinkActive="active" class="btn btn-outline-light mr-1"></div>
  
      </li>
      <li>
  
      <div routerLink="book-now" routerLinkActive="active" class="btn btn-outline-light mr-1" >explore </div>
      </li>
    </div>
  
    </ul>
  
  </div>
  
    </nav>
  
  </div>
  
  </div> -->
  <!-- <nav>
    <a routerLink="home">HOME</a>
    <a routerLink="login">LOGIN</a>
    <a href="#">EAT</a>
    <a href="#">PLAY</a>
    <a href="#">BOOKINGS</a>
    <div id="indicator"></div>
  </nav>-->
 
<router-outlet></router-outlet>

