<ul class="menu cf">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="../eats">Eat</a></li>
    <li><a routerLink="../book">Bookings</a></li>
    <li><a routerLink="../login">Login</a></li>
</ul>
<div class="services_section layout_padding">
    <div class="container">     
       <p class="services_text"></p>
       <div class="services_section_2">
          <div class="row">
             <div class="col-md-4">
                <div><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/43/f1/af.jpg" class="services_img"></div>
                <div class="btn_main"><a href="#">Rafting</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-534518,resizemode-1,msid-72368129/magazines/travel/tiger-hill-skandagiri-and-other-top-treks-that-come-with-the-promise-of-a-beautiful-sunrise.jpg" class="services_img" height="232"></div>
                <div class="btn_main " ><a href="#">Hiking</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="https://c0.wallpaperflare.com/preview/632/810/322/adventure-camp-camping-campsite.jpg" class="services_img" height="232"></div>
                <div class="btn_main"><a href="#">Camping</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="https://w0.peakpx.com/wallpaper/132/7/HD-wallpaper-scuba-diving-high-resolution.jpg" style="margin-top: 20px"class="services_img" height="232"></div>
             
                <div class="btn_main "><a href="#">Scuba diving</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="https://media.istockphoto.com/id/547436912/photo/bungee-jumping.jpg?s=170667a&w=0&k=20&c=xNv2yWpxcBT7tLr7NBDzZUsJj-gQ3COsFQYngp4oAGY=" style="margin-top: 20px"class="services_img" height="232"></div>
               
                <div class="btn_main "><a href="#">Bungee jumping</a></div>
             </div>
             <div class="col-md-4">
                <div><img src="https://wallpapercave.com/wp/wp3278541.jpg" style="margin-top: 20px"class="services_img" height="232"></div>
                <div class="btn_main "><a href="#">Water rides</a></div>
             </div>
          </div>
       </div>
    </div>
 </div>