<form [formGroup]="userForm1"><div class="card-back">
    <div class="center-wrap">
        <div class="section text-center">
            <h4 class="mb-4 pb-3" style="color:rgb(197, 112, 1)">Sign Up</h4>
            <div class="form-group">
                <input type="text" name="username" formControlName ="username" required class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off" required ngModel>
                <i class="input-icon uil uil-user"></i>
            </div>	
            <div class="form-group mt-2">
                <input type="email" name="logemail"  formControlName = "email"    class="form-style" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="logemail" autocomplete="off" ngModel>
            </div>	
            <div class="form-group mt-2">
                <input type="password" name="logpass"  formControlName = "password" required class="form-style" placeholder="Your Password" id="logpass" autocomplete="off" ngModel>
                <i class="input-icon uil uil-lock-alt"></i>
            </div>
            <button  class="btn mt-4"  (click)="OnSignUp()">SignUp</button>
          </div>
      </div>
  </div>
</form>

