html,
body {
  height: 100%;
}
 .name{
    background-image: url('src\assets\fig1.jpg');
}  
 body {
  margin: 0;
  background-color: #292929;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 75%;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-80%);
} 

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #0b0202;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
} 

nav a:nth-child(1):before {
  background-color: rgb(75, 23, 218);
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}
nav a:nth-child(4):before {
    background-color: rgb(90, 4, 90);
  }
  
  nav a:nth-child(4):after {
    background-color: rgb(103, 29, 53);
  }
  nav a:nth-child(5):before {
    background-color: rgb(13, 34, 116);
  }
  
  nav a:nth-child(5):after {
    background-color: rgb(8, 88, 63);
  }
#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: rgb(120, 70, 70);
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: rgb(9, 9, 9);
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(4):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(80, 169, 7), rgb(72, 8, 30));
  }
  nav a:nth-child(5):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(99, 29, 99), rgb(169, 169, 37));
  }  